/Multiplayer Shooter/Library/
/Multiplayer Shooter/Temp/
/Multiplayer Shooter/Obj/
/Multiplayer Shooter/Build/
/Builds/
/Multiplayer Shooter/Logs/
/Multiplayer Shooter/UserSettings/
/Multiplayer Shooter/Assets/Thirdparty

ExportedObj/
.consulo/
.vs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app
VR/ProjectSettings/

Multiplayer Shooter/Assets/Resources/ScriptableObjects/Generator settings.asset

Multiplayer Shooter/Assets/Resources/ScriptableObjects/Generator settings.asset.meta
