/FabrShooter/Library/
/FabrShooter/Temp/
/FabrShooter/Obj/
/FabrShooter/obj/
/FabrShooter/Build/
/Builds/
/FabrShooter/Logs/
/FabrShooter/UserSettings/
/FabrShooter/Assets/Thirdparty

ExportedObj/
.consulo/
.vs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

FabrShooter/ProjectSettings/Packages/com.unity.probuilder/Settings.json
